mixin header(data)
	//- модификатор
	+modif('header', data.mod)

	//- префикс
	+prefix('header', data.prefix)

	//- атрибуты
	- attr = data.attr || ''

	//- div(class=`header${pr}${mod}`)&attributes(attr)
	header.header
		.container
			.header__bar
				a.header__logo(href="/", aria-label="Промстарт")
					img(src="/assets/images/required/logo-promstart.svg" alt="Промстарт")

				nav#mainNav.header__nav.hidden-xs--small.hidden-xs.hidden-sm
					ul.header__list
						li.header__item
							a.header__link.active(href="#home") Главная
						li.header__item
							a.header__link(href="#service") Сервис
						li.header__item
							a.header__link(href="#effects") Эффекты
						li.header__item
							a.header__link(href="#stages") Этапы работы
						li.header__item
							a.header__link(href="#platform") Платформа
						li.header__item
							a.header__link(href="#contacts") Контакты
				
				.header__actions
					a.header__profile(href="#profile", aria-label="Профиль")
						span.header__avatar

					button.header__toggler(type="button", aria-label="Открыть меню", data-bs-toggle="collapse", data-bs-target="#mainNav", aria-controls="mainNav", aria-expanded="false")
						span.header__toggler-icon
			nav#mainNav.header__nav.collapse.hidden-xl.hidden-lg.hidden-md
				ul.header__list
					li.header__item
						a.header__link.active(href="#home") Главная
					li.header__item
						a.header__link(href="#service") Сервис
					li.header__item
						a.header__link(href="#effects") Эффекты
					li.header__item
						a.header__link(href="#stages") Этапы работы
					li.header__item
						a.header__link(href="#platform") Платформа
					li.header__item
						a.header__link(href="#contacts") Контакты
