extends template/layout
//- include ../components/menu/menu

block variables
	- var title = 'Title'

block content
	//- h1 Тест
	//- +menu(menuHeader)
	//- +img('example/preview.jpg', `lazyload`)

	//- svg
	//- 	use(xlink:href="/assets/images/required/sprite.svg#accordion")
	section.section-hero#home(data-anchor)
		.container
			.row.g-3.g-lg-4.align-items-stretch.mt-0
				// Левая карточка
				.col-12.col-lg-6.mt-0
					.hero__card.shape-mask
						.hero__top
							img.hero__mini-logo(src="/assets/images/required/logo-white.svg" alt="Промстарт")
						div.hero__info
							h1.hero__title
								| Сервис 
								span.hero__spinner
								br
								|  для обучения и адаптации
								br
								| сотрудников промышленных
								br
								| предприятий
							.hero__media.hidden-xl.hidden-lg.hidden-md
								video.hero__video(autoplay muted loop playsinline preload="auto" poster="/assets/images/required/poster.png")
									source(src="/assets/images/required/hero-video.mp4" type="video/mp4")
									source(src="/assets/images/required/hero-video.webm" type="video/webm")
									//- fallback
									img.hero__poster(src="/assets/images/required/poster.png" alt="Видео о сервисе")
							a.hero__cta.btn(href="#more") Узнать подробнее
						p.hero__sub
							| Создаем курсы для обучения сотрудников
							br
							| на производстве и материалы
							br
							| для адаптации под ключ

				// Правая колонка (видео/картинка)
				.col-12.col-lg-6.mt-0
					.hero__media.shape-mask.shape-mask--right.hidden-xs--small.hidden-xs.hidden-sm
						.hero__media
							video.hero__video(autoplay muted loop playsinline preload="auto" poster="/assets/images/required/poster.png")
								source(src="/assets/images/required/hero-video.mp4" type="video/mp4")
								source(src="/assets/images/required/hero-video.webm" type="video/webm")
								//- fallback
								img.hero__poster(src="/assets/images/required/poster.png" alt="Видео о сервисе")
	section.section-what#service(data-anchor)
		.container
			h2.section-title Что мы делаем?

			.row.gx-3.gy-3.g-lg-4.mt-0
				// 1
				.col-12.col-lg-4
					.what-card.what-card--green
						h3.what-card__title Создаем 
							br
							| обучающие курсы
						p.what-card__text
							| Проводим фото/видео съёмку процессов на вашем предприятии,
							| составляем курсы по производственным процессам.
						img.what-card__icon(src="/assets/images/required/card-play.png" alt="Иконка плей")

				// 2
				.col-12.col-lg-4
					.what-card.what-card--dark
						h3.what-card__title Разрабатываем Welcome book
						p.what-card__text
							| Справочник для новых сотрудников с ключевой информацией об организации, её процессах, культуре, правилах и особенностях
						img.what-card__icon(src="/assets/images/required/card-user.png" alt="Иконка профиль")

				// 3
				.col-12.col-lg-4
					.what-card.what-card--light
						h3.what-card__title Формируем базу знаний
						p.what-card__text
							| Централизованная база инструкций и ответов для быстрого
							| доступа к знаниям и стандартам компании.
						img.what-card__icon(src="/assets/images/required/card-gear.png" alt="Иконка шестерня")
	section.section-effect#effects(data-anchor)
		.container
			.effect.shape-mask-effect
				h2.effect__title.mb-36 Эффект

				// Свайпер
				.effect__swiper.swiper#effectSwiper
					.swiper-wrapper
						.swiper-slide
							.effect-card
								.effect-card__media
									img(src="/assets/images/required/effect-1.png" alt="")
								p.effect-card__text
									| Наставники тратят меньше времени на обучение новых
									| сотрудников и занимаются своей работой
						.swiper-slide
							.effect-card
								.effect-card__media
									img(src="/assets/images/required/effect-2.png" alt="")
								p.effect-card__text
									| Новые сотрудники быстрее обучаются, делают меньше ошибок и брака
						.swiper-slide
							.effect-card
								.effect-card__media
									img(src="/assets/images/required/effect-3.png" alt="")
								p.effect-card__text
									| Знания опытных сотрудников навсегда в компании
									| и обучение не останавливается без них
	section.section-steps#stages(data-anchor)
		.container
			h2.section-title.steps__title Этапы работы

			.steps__layout
				// Левая колонка (две строки)
				.steps__left
					// Ряд 1: три равные
					.steps__row.steps__row--top
						.steps-item
							.steps-card.mask-step.mask-step--a(data-step="1")
								.steps-card__icon
									img(src="/assets/images/required/step-1.svg" alt="")
								h3.steps-card__title 
									span Приезжаем
									|  к вам на предприятие
							span.steps-card__num 1
						.steps-item
							.steps-card.mask-step.mask-step--a(data-step="2")
								.steps-card__icon
									img(src="/assets/images/required/step-2.svg" alt="")
								h3.steps-card__title 
									span Снимаем
									br
									| производственые процессы, проводим опросы
							span.steps-card__num 2
						.steps-item
							.steps-card.mask-step.mask-step--a(data-step="3")
								.steps-card__icon
									img(src="/assets/images/required/step-3.svg" alt="")
								h3.steps-card__title 
									span Составляем
										br 
										| и согласовываем
									br
									| готовые курсы, welcome book,
									br
									| базу знаний
							span.steps-card__num 3

					// Ряд 2: 4 — фикс/кламп, 5 — остаток
					.steps__row.steps__row--bottom
						.steps-item
							.steps-card.mask-step.mask-step--b(data-step="4")
								.steps-card__icon
									img(src="/assets/images/required/step-4.svg" alt="")
								h3.steps-card__title 
									span Составляем план
									br
									| обучения и адаптации
							span.steps-card__num 4
						.steps-item
							.steps-card.mask-step.mask-step--c(data-step="5")
								.steps-card__icon
									img(src="/assets/images/required/step-5.svg" alt="")
								h3.steps-card__title 
									span Загружаем&nbsp;
									| на нашу платформу
									br
									| курсы и документы
							span.steps-card__num 5

				// Правая высокая карточка (на две строки)
				.steps__right
					.steps-item
						.steps-card.mask-step.mask-step--d.steps-card--green(data-step="6")
							.steps-card__icon.steps-card__icon--xl
								img(src="/assets/images/required/step-6.svg" alt="")
							h3.steps-card__title.steps-card__title--center
								span Сотрудники проходят обучение
								br
								| и адаптацию
						span.steps-card__num.steps-card__num--black 6
	section.section-platform#platform(data-anchor)
		.container
			.platform
				h2.platform__title
					| Обучение и адаптация в любом месте через удобную
					br
					| и безопасную платформу для размещения курсов и материалов

				.platform__slider.swiper#platformSwiper
					.swiper-wrapper
						.swiper-slide
							.platform__row
								.platform__media
									img(src="/assets/images/required/platform-1.jpg" alt="Производство")
								.platform__content
									h3.platform__subtitle Профиль компании:
									p.platform__text
										| Личный кабинет, где содержатся все курсы и материалы
										| только вашего предприятия
						.swiper-slide
							.platform__row
								.platform__media
									img(src="/assets/images/required/platform-2.jpg" alt="Обучение")
								.platform__content
									h3.platform__subtitle Обучающие модули:
									p.platform__text
										| Интерактивные курсы, тесты и материалы для быстрой адаптации
						.swiper-slide
							.platform__row
								.platform__media
									img(src="/assets/images/required/platform-3.jpg" alt="Отчёты")
								.platform__content
									h3.platform__subtitle Отчётность:
									p.platform__text
										| Прогресс сотрудников, статистика по подразделениям и сменам

				.platform__nav
					button.platform__prev(type="button" aria-label="Назад")
						<svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M38 17C39.1046 17 40 16.1046 40 15C40 13.8954 39.1046 13 38 13L38 15L38 17ZM0.585787 13.5858C-0.195261 14.3668 -0.195261 15.6332 0.585787 16.4142L13.3137 29.1421C14.0948 29.9232 15.3611 29.9232 16.1421 29.1421C16.9232 28.3611 16.9232 27.0948 16.1421 26.3137L4.82843 15L16.1421 3.68629C16.9232 2.90524 16.9232 1.63891 16.1421 0.857865C15.3611 0.0768165 14.0948 0.0768165 13.3137 0.857865L0.585787 13.5858ZM38 15L38 13L2 13L2 15L2 17L38 17L38 15Z" fill="#EDEDED" />
						</svg>
					button.platform__next(type="button" aria-label="Вперёд")
						<svg width="40" height="30" viewBox="0 0 40 30" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M2 13C0.895431 13 2.15774e-07 13.8954 1.19209e-07 15C2.26448e-08 16.1046 0.89543 17 2 17L2 15L2 13ZM39.4142 16.4142C40.1953 15.6332 40.1953 14.3668 39.4142 13.5858L26.6863 0.857867C25.9052 0.0768186 24.6389 0.0768185 23.8579 0.857867C23.0768 1.63892 23.0768 2.90525 23.8579 3.68629L35.1716 15L23.8579 26.3137C23.0768 27.0948 23.0768 28.3611 23.8579 29.1421C24.6389 29.9232 25.9052 29.9232 26.6863 29.1421L39.4142 16.4142ZM2 15L2 17L38 17L38 15L38 13L2 13L2 15Z" fill="#EDEDED" />
						</svg>
	section.section-cta#contacts(data-anchor)
		.container
			.cta
				.cta__grid
					// Левая карточка
					.cta__card.shape-mask
						h2.cta__title
							| Хотите быстро обучать
							br
							| и адаптировать
							br
							| сотрудников?

					// Правая карточка (зеркальная маска)
					.cta__card.shape-mask.shape-mask--right
						form.cta__form(action="#" method="post" novalidate)
							.cta__field
								input.cta__input(type="text" name="name" placeholder="Имя" required)
							.cta__field
								input#ctaPhone.cta__input(type="tel" name="phone" placeholder="+7 (___) ___-__-__" required)
							p.cta__note
								| Нажимая на кнопку, вы даёте согласие на обработку
								| персональных данных и соглашаетесь с политикой
								| конфиденциальности
							button.cta__btn(type="submit") Отправить заявку
